<!-- we create html file and javascript file using ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>This is the home page</h1>
    <h3><%= 1+2 %></h3>
    <h3><%= ["hello","Bonjour","namaste"][2] %></h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia, cumque! Deserunt omnis, quae sit quas ducimus facere vitae dolores, quam nisi molestiae, ipsum fuga ab fugit ex quaerat eos iure.</p>
    <button>Click me!</button>
</body>
</html>