<%- include("includes/head.ejs") %>    


    
<!-- <h2>This Page belong to @<%#= username %> </h2>
<button>Follow</button>
<button>Message</button>
<h3>Accounts that follow you: </h3> 
<ul>
<%# for(let name of followers) { %> 
<li><%#= name %></li>
<%# } %> 
</ul> -->


<h2>This Page belong to @<%= username%> </h2>
<button>Follow</button>
<button>Message</button>
<h3>Accounts that follow you: </h3> 


</body>
</html>

