<%- include("includes/roledice.ejs") %>
  <body>
    <h1>
      Dice gave value:
      <!-- <%= Math.floor(Math.random()*6)+1 %> -->
      <%= diceValue %> <% if(diceValue == 6) { %>

      <h2>Nice! Role Dice Again</h2>
      <% } %>
    </h1>
  </body>
</html>
