<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create new post</title>
  <link rel="stylesheet" href="new.css">
</head>
<body>
    <!-- <form method="post" action="/posts">      /posts k under chala gya      -->
        <form class="form" method="post" action="/posts">    
        <input class="input" type="text" placeholder="enter username" name="username"> <br><br>
        <textarea class="textarea" placeholder="write your post" name="content" id=""></textarea> <br><br>
        <button id="submitbtn">Submit Post</button>
    </form>
</body>
</html>